Source: tigger
Section: python
Priority: extra
Maintainer: KERN packaging <packaging@kernsuite.info>
Build-Depends:
 debhelper-compat (= 13),
 build-essential,
 dh-python,
 python3-all,
 python3-setuptools,
 python3-astro-kittens,
 python3-astro-tigger-lsm,
 python3-pyqt5.qwt,
 python3-scipy,
 python3-numpy,
 python3-astlib,
 python3-astropy,
 pyqt5-dev,
 pyqt5-dev-tools,
 python3-pyqt5,
 python3-pyqt5.qtopengl,
 python3-pyqt5.qtsvg,
 libqwt-qt5-dev,
 libqwt-headers,
 libqt5opengl5-dev,
 libqt5svg5-dev,
 g++,
 dpkg-dev
Standards-Version: 4.6.2.0
Homepage: https://github.com/ska-sa/tigger
XS-Python3-Version: >=3.10

Package: python3-astro-tigger
Replaces: python-tigger
Architecture: any
Depends:
 ${python3:Depends},
 ${misc:Depends},
 ${sh:Depends},
 python3-astropy,
 python3-astro-kittens,
 python3-astlib,
 python3-scipy,
 python3-numpy,
 python3-pyqt5,
 python3-pyqt5.qtsvg,
 python3-pyqt5.qtopengl,
 libqwt-qt5-6,
 python3-pyqt5.qwt,
 python3-astro-tigger-lsm
Description: FITS and MeqTrees LSM viewer, python 3 library

Package: tigger
Architecture: any
Depends: python3-astro-tigger
Description: dependency package for FITS and MeqTrees LSM viewer
