Source: tigger
Section: python
Priority: extra
Maintainer: KERN packaging <packaging@kernsuite.info>
Build-Depends:
 debhelper (>= 8.0.0),
 build-essential,
 dh-python,
 python-all,
 python-setuptools,
 python-astro-kittens,
 python-astro-tigger-lsm,
 python-qt4,
 python-qwt5-qt4,
 python-astropy
Standards-Version: 3.9.7
Homepage: https://github.com/ska-sa/tigger
X-Python-Version: 2.7

Package: python-astro-tigger
Replaces: python-tigger
Architecture: any
Depends:
 ${python:Depends},
 ${misc:Depends},
 ${sh:Depends},
 python-astropy,
 python-astro-kittens,
 python-pyfits,
 python-astlib,
 python-scipy,
 python-numpy,
 python-qt4,
 python-qwt5-qt4,
 python-astro-tigger-lsm,
 libicu60
Description: FITS and MeqTrees LSM viewer, python 2 library

Package: tigger
Architecture: any
Depends: python-astro-tigger
Description: dependency package for FITS and MeqTrees LSM viewer
